.button {
  background-color: transparent;
  color: $text-500;
  border: none;
  width: 18px;
  height: 18px;
  .icon {
    width: 18px;
    height: 18px;
  }
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  cursor: auto;
  opacity: 0.5;
}
