.container {
  border: 1px solid $secondary-700;
  border-radius: 10px;
  padding: 0.4rem;
  min-height: 350px;
  background-color: $background-200;
  position: relative;
  width: 100%;
  .table_title_container {
    border-bottom: 1px solid $secondary-700;
    padding: 0.5rem;
    width: 100%;
    h2 {
      display: inline;
      font-size: 1rem;
      margin: 0;
    }
  }

  .searchbar {
    width: 100%;
    padding: 0.5rem;

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      label {
        font-weight: 600;
      }
      input {
        width: 100%;
        background-color: transparent;
        border: none;
        color: $text-100;
        font-size: 1rem;
        border-bottom: 2px solid $primary-400;
        transition: border-bottom 0.2s ease;
        &:focus {
          border-bottom: 2px solid $primary-700;
          outline: none;
        }
      }
    }
  }

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    a {
      color: $text-500;
    }
    tr {
      border-top: 1px solid $secondary-700;
    }
    td,
    th {
      padding: 0.6rem;
    }
    thead {
      tr {
        width: 20%;
      }
    }
    tbody {
      td {
        text-transform: capitalize;
      }
    }
  }
}

.icon {
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}
