.table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
  thead {
    tr {
      width: 20%;
    }
  }
  tbody {
    td {
      text-transform: capitalize;
      padding: 5px;
    }
  }
}
