html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 1px !important;
}
next-route-announcer {
  height: 1px !important;
}

@media print {
  @page {
    size: 528.13385827px 67.251968504px;
    margin: 0;
    break-after: avoid;
    page-break-after: avoid;
    overflow: hidden !important;
  }

  html,
  div {
    height: 60.251968504px !important;
  }
}
